In [ ]:
import pandas as pd
from scipy import sparse

In [ ]:
movies = pd.read_csv('movies_metadata.csv')

<ipython-input-2-4dd17bd759a6>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

In [ ]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
movies.drop(['homepage','title','belongs_to_collection','spoken_languages','production_countries','video','production_companies','tagline'],axis=1,inplace=True)

In [ ]:

movies['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [ ]:
movies['status'].unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [ ]:
import numpy as np

In [ ]:
genres = [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

genre_names = ' '.join([genre['name'] for genre in genres])

print(genre_names)

Animation Comedy Family

In [ ]:
import ast
movies['genres'] = movies['genres'].map(lambda x: ast.literal_eval(x))

In [ ]:
def genresList(x):
    gen = []
    st = " "
    for i in x:
      gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [ ]:
movies['genres'] = movies['genres'].map(lambda x: genresList(x))

In [ ]:
movies.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'vote_average',
       'vote_count'],
      dtype='object')

In [ ]:
credits = pd.read_csv('credits.csv')

In [ ]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862.0
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844.0
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602.0
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357.0
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862.0

In [ ]:
credits['cast']

0        [{'cast_id': 14, 'character': 'Woody (voice)',...
1        [{'cast_id': 1, 'character': 'Alan Parrish', '...
2        [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3        [{'cast_id': 1, 'character': "Savannah 'Vannah...
4        [{'cast_id': 1, 'character': 'George Banks', '...
                               ...
45822    [{'cast_id': 0, 'character': '', 'credit_id': ...
45823    [{'cast_id': 1002, 'character': 'Sister Angela...
45824    [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45825    [{'cast_id': 2, 'character': '', 'credit_id': ...
45826                                                   []
Name: cast, Length: 45827, dtype: object

In [ ]:
rating=pd.read_csv('ratings_small.csv')

In [ ]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
import ast
credits['cast'] = credits['cast'].map(lambda x: ast.literal_eval(x))

In [ ]:
def castList(x):
    cast = []
    st = " "
    for i in x:
      cast.append(i.get('name'))
    if cast == []:
        return np.NaN
    else:
        return (st.join(cast))

In [ ]:
credits['cast'] = credits['cast'].map(lambda x: castList(x))

In [ ]:
credits['cast']

0        Tom Hanks Tim Allen Don Rickles Jim Varney Wal...
1        Robin Williams Jonathan Hyde Kirsten Dunst Bra...
2        Walter Matthau Jack Lemmon Ann-Margret Sophia ...
3        Whitney Houston Angela Bassett Loretta Devine ...
4        Steve Martin Diane Keaton Martin Short Kimberl...
                               ...
45822              Leila Hatami Kourosh Tahami Elham Korda
45823    Angel Aquino Perry Dizon Hazel Orencio Joel To...
45824    Erika Eleniak Adam Baldwin Julie du Page James...
45825    Iwan Mosschuchin Nathalie Lissenko Pavel Pavlo...
45826                                                  NaN
Name: cast, Length: 45827, dtype: object

In [ ]:
import ast
credits['crew'] = credits['crew'].map(lambda x: ast.literal_eval(x))

In [ ]:
def crewList(x):
    cast = []
    st = " "
    if isinstance(x, list):
        for i in x:
            cast.append(i.get('name'))
        if cast == []:
            return "No Cast Found"
        else:
            return (st.join(cast))
    else:
        return "No Cast Found"

In [ ]:
credits['crew'] = credits['crew'].map(lambda x: crewList(x))

In [ ]:
credits['crew']

0        John Lasseter Joss Whedon Andrew Stanton Joel ...
1        Larry J. Franco Jonathan Hensleigh James Horne...
2        Howard Deutch Mark Steven Johnson Mark Steven ...
3        Forest Whitaker Ronald Bass Ronald Bass Ezra S...
4        Alan Silvestri Elliot Davis Nancy Meyers Nancy...
                               ...
45822    Hamid Nematollah Hamid Nematollah Farshad Moha...
45823    Lav Diaz Lav Diaz Dante Perez Lav Diaz Lav Dia...
45824    Mark L. Lester C. Courtney Joyner Jeffrey Gold...
45825                 Yakov Protazanov Joseph N. Ermolieff
45826                                        Daisy Asquith
Name: crew, Length: 45827, dtype: object

In [ ]:
credits.head()

,cast,crew,id
0,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter Joss Whedon Andrew Stanton Joel ...,862.0
1,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Larry J. Franco Jonathan Hensleigh James Horne...,8844.0
2,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Howard Deutch Mark Steven Johnson Mark Steven ...,15602.0
3,Whitney Houston Angela Bassett Loretta Devine ...,Forest Whitaker Ronald Bass Ronald Bass Ezra S...,31357.0
4,Steve Martin Diane Keaton Martin Short Kimberl...,Alan Silvestri Elliot Davis Nancy Meyers Nancy...,11862.0

In [ ]:
movies.dtypes

adult                 object
budget                object
genres                object
id                    object
imdb_id               object
original_language     object
original_title        object
overview              object
popularity            object
poster_path           object
release_date          object
revenue              float64
runtime              float64
status                object
vote_average         float64
vote_count           float64
dtype: object

In [ ]:
credits.isnull().sum()

cast    2423
crew       0
id         2
dtype: int64

In [ ]:
credits.dropna(inplace=True)

In [ ]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [ ]:
credits = credits.drop_duplicates(subset=['id'])

In [ ]:
movies=movies.drop_duplicates(subset=['id'])

In [ ]:
credits['id']=credits['id'].astype(int).astype(str)

In [ ]:
new_movie_df=pd.merge(movies, credits, on='id')

In [ ]:
new_movie_df.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [ ]:
columns=new_movie_df.columns

In [ ]:
new_movie_df[columns] = new_movie_df[columns].astype(str)

In [ ]:
new_movie_df["combined"] = new_movie_df[new_movie_df.columns].agg(' '.join, axis=1)

In [ ]:
new_movie_df['combined']

0        False 30000000 Animation Comedy Family 862 tt0...
1        False 65000000 Adventure Fantasy Family 8844 t...
2        False 0 Romance Comedy 15602 tt0113228 en Grum...
3        False 16000000 Comedy Drama Romance 31357 tt01...
4        False 0 Comedy 11862 tt0113041 en Father of th...
                               ...
43013    False 0 Drama Action Romance 30840 tt0102797 e...
43014    False 0 Drama Family 439050 tt6209470 fa رگ خو...
43015    False 0 Drama 111109 tt2028550 tl Siglo ng Pag...
43016    False 0 Action Drama Thriller 67758 tt0303758 ...
43017    False 0 nan 227506 tt0008536 en Satana likuyus...
Name: combined, Length: 43018, dtype: object

In [ ]:
new_movie_df.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew,combined
0,False,30000000,Animation Comedy Family,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,7.7,5415.0,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter Joss Whedon Andrew Stanton Joel ...,False 30000000 Animation Comedy Family 862 tt0...
1,False,65000000,Adventure Fantasy Family,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,6.9,2413.0,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Larry J. Franco Jonathan Hensleigh James Horne...,False 65000000 Adventure Fantasy Family 8844 t...
2,False,0,Romance Comedy,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,6.5,92.0,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Howard Deutch Mark Steven Johnson Mark Steven ...,False 0 Romance Comedy 15602 tt0113228 en Grum...
3,False,16000000,Comedy Drama Romance,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,6.1,34.0,Whitney Houston Angela Bassett Loretta Devine ...,Forest Whitaker Ronald Bass Ronald Bass Ezra S...,False 16000000 Comedy Drama Romance 31357 tt01...
4,False,0,Comedy,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,5.7,173.0,Steve Martin Diane Keaton Martin Short Kimberl...,Alan Silvestri Elliot Davis Nancy Meyers Nancy...,False 0 Comedy 11862 tt0113041 en Father of th...

In [ ]:
new_df = pd.DataFrame({'title': new_movie_df['original_title'], 'overview': new_movie_df['combined']})

In [ ]:
new_df.head()

,title,overview
0,Toy Story,False 30000000 Animation Comedy Family 862 tt0...
1,Jumanji,False 65000000 Adventure Fantasy Family 8844 t...
2,Grumpier Old Men,False 0 Romance Comedy 15602 tt0113228 en Grum...
3,Waiting to Exhale,False 16000000 Comedy Drama Romance 31357 tt01...
4,Father of the Bride Part II,False 0 Comedy 11862 tt0113041 en Father of th...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

# Set the max features and create the TfidfVectorizer
max_features = 10000
tfidf = TfidfVectorizer(stop_words='english', max_features=max_features)

# Fill any missing values with an empty string
new_df['overview'] = new_df['overview'].fillna('')

# Create the Tfidf matrix as a sparse matrix
tfidf_matrix = tfidf.fit_transform(new_df['overview'])

# Compute the cosine similarity using the sparse matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [ ]:
new_df_1=new_df.head(10000)

In [ ]:
from scipy import sparse
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
new_df.dropna(subset=['title'], inplace=True)

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')
new_df['overview'] = new_df['overview'].fillna('')
tfidf_matrix = tfidf.fit_transform(new_df['overview'])

In [ ]:
sparse_tfidf_matrix = csr_matrix(tfidf_matrix)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(sparse_tfidf_matrix, sparse_tfidf_matrix)

In [ ]:
def get_movie_recommendation(movie_title, cosine_sim=cosine_sim, movies_df=new_df):

    idx = movies_df[movies_df['title'].str.contains(movie_title)].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]
    return movies_df['title'].iloc[movie_indices]

In [ ]:
get_movie_recommendation("Jumanji")

[(8106, 0.08130422635611391), (61, 0.08121297560169502), (1319, 0.07947196620245686), (4774, 0.0752032789966946), (1948, 0.07514913513066329), (4438, 0.07276324461423565), (2349, 0.0724176795658127), (3978, 0.07004964185367273), (7780, 0.06965458637865221), (4018, 0.06939460186048864)]

8106             The Polar Express
61              Mr. Holland's Opus
1319                 Mars Attacks!
4774    Bill & Ted's Bogus Journey
1948                 The Rocketeer
4438             Jurassic Park III
2349                   October Sky
3978                    15 Minutes
7780          The Last Starfighter
4018                     Manhunter
Name: title, dtype: object